@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Arizonia&display=swap");
#header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  padding-top: 4px;
}

#header a {
  margin-left: 3%;
}

body {
  font-family: alata, serif;
  margin: 0;
}

.logo-img {
  height: 54px;
  width: 78px;
  margin-left: 3%;
}

.nav {
  margin-right: 3%;
}

.nav-ul li {
  list-style: none;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
}

h2 {
  color: #009C99;
  font-family: arizonia, sans-serif;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  margin-top: 1%;
}

/*  FOOTER  */
.footer {
  min-height: 9vh;
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #EFAA7B;
  font-family: Alata, serif;
  font-size: 14px;
  margin-top: 4%;
}

.footer-copyright {
  text-align: end;
  min-width: 45%;
}

.footer-copyright p {
  color: white;
}

.icon {
  max-width: 50%;
  max-height: 50%;
  min-height: 70%;
  min-width: 70%;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: 45%;
}

.icon-container a {
  display: flex;
  align-items: center;
  max-width: 10%;
  max-height: 10%;
  min-height: 5%;
  min-width: 5%;
}

/*  END FOOTER  */
@media only screen and (max-width: 720px) {
  h2 {
    margin-top: 1%;
    font-size: 30px;
  }
  .icon-container a {
    min-width: 22%;
    padding-left: 3%;
  }
  .footer-copyright {
    padding-right: 3%;
  }
}
@media only screen and (max-width: 480px) {
  h2 {
    margin-top: 1%;
    font-size: 20px;
  }
  h3 {
    margin-top: 2%;
    font-size: 12px;
  }
  .icon-container a {
    min-width: 20%;
  }
}
@media only screen and (max-width: 320px) {
  h2 {
    margin-top: 1%;
    font-size: 14px;
  }
  h3 {
    margin-top: 2%;
    font-size: 12px;
  }
  .icon-container a {
    min-width: 22%;
    padding-left: 3%;
  }
  .footer-copyright {
    padding-right: 3%;
  }
}
h1 {
  color: #009C99;
  text-align: center;
  font-family: Arizonia, sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 124.8%; /* 87.36px */
  margin: 0;
}

h4 {
  color: #009C99;
  font-family: Alata, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.3%; /* 24.894px */
  letter-spacing: 1.62px;
}

#intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#intro-container p {
  color: #515151;
  text-align: center;
  font-family: Alata, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.3%; /* 20.745px */
  letter-spacing: 1.35px;
  width: 70%;
}

#sufboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
#sufboard-container article {
  flex: 1 0 18%;
  box-sizing: border-box;
  margin: 10px;
  color: #515151;
  font-family: Alata, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.3%; /* 20.745px */
  letter-spacing: 1.35px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .icon-container a {
    min-width: 15%;
    padding-left: 3%;
  }
  .footer-copyright {
    padding-right: 3%;
  }
}
@media only screen and (max-width: 320px) {
  .icon-container a {
    min-width: 22%;
    padding-left: 3%;
  }
  .footer-copyright {
    padding-right: 3%;
  }
}
@media only screen and (max-width: 480px) {
  .icon-container a {
    min-width: 22%;
    padding-left: 3%;
  }
  .footer-copyright {
    padding-right: 3%;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    margin-top: 1%;
    font-size: 30px;
  }
  .icon-container a {
    min-width: 22%;
    padding-left: 3%;
  }
  .footer-copyright {
    padding-top: 1%;
    padding-right: 3%;
  }
}

/*# sourceMappingURL=surfimplements.css.map */
